html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --text-cl: #212121;
  --accent-color: #2196f3;
  --dark-bg: #2f303a;
  --gray: #757575;
  --white: #ffffff;
  --light-bg: #f5f4fa;
  --text-font: "Roboto", sans-serif;
  --title-font: "Raleway", sans-serif;
}

body {
  font-family: var(--text-font);
  font-weight: 700;

  /*font-size: 14px;
  line-height: 1,71;
  letter-spacing: 0.03em;*/

  color: var(--gray);
}

.link {
  color: inherit;
  text-decoration: none;
}

.link:hover,
.link:focus,
.link:active {
  color: var(--accent-color);
}

.hero {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white);
  background-color: var(--dark-bg);
}

.title {
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  color: var(--text-cl);
}

.content {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--text-cl);
}

.btn1,
.btn {
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
}
.btn1 {
  color: var(--white);
  background-color: var(--accent-color);
}

.btn {
  color: var(--text-cl);
  background-color: var(--light-bg);
}

.btn:hover,
.btn:focus {
  background-color: var(--accent-color);
  color: var(--white);
}

p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  color: var(--gray);
}

.menu-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-cl);
}

.logo,
.logo-dark,
.logowhite {
  font-size: 26px;
  line-height: 1.42;
}

.logo {
  font-family: var(--title-font);
  /* identical to box height */
  color: var(--accent-color);
  margin-right: 0px;
}

.logo-dark {
  color: var(--text-cl);
  margin-left: 0px;
}

.logowhite {
  font-weight: 400;
  color: var(--white);
  margin-left: 0px;
}

.link-address-item {
  color: #ffffff;
  text-decoration: none;
}

.list-address-item {
  font-weight: 400;
  font-size: 14px;
  line-height: 1, 71;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.team {
  background-color: var(--light-bg);
}

.list {
  list-style-type: none;
}

address {
  font-style: normal;
}

footer {
  background-color: var(--dark-bg);
}

.street {
  color: var(--white);
}

.active {
  color: var(--accent-color);
}

.content-link {
  text-decoration: none;
}
